*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-transform: capitalize;
  }
  main{
    height: 100vh;
    width: 100vw;
    background-color: rgb(91, 92, 101);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .container
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 3px white;
    height: 80vh;
    width: 60vw;
    background-color: rgb(199, 202, 208);
    border-radius: 10px;
  }
  .btn
  {
    display: flex;
  }
  .btn button
  {
    margin: 80px 2px;
    width: auto;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    box-shadow: 1px 1px black;
    font-weight: bold;
  }
  input
  {
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px auto;
  }